$a:green;

h1{
    color:$a;
}
h2{
    color:$a;
}
h1 {
    color: green;
  }
  
  h2 {
    color: green;
  }
  h1 {
    color: green;
  }
  
  h2 {
    color: green;
  }
  h1 {
    color: green;
  }
  
  h2 {
    color: green;
  }
  h1 {
    color: green;
  }
  
  h2 {
    color: green;
  }